language: php

matrix:
    include:
        - php: 7.1
          env: SYMFONY_VERSION=3.4.*
        - php: 7.4
          env: SYMFONY_VERSION=3.4.*
        - php: 7.1
          env: SYMFONY_VERSION=4.4.*
        - php: 7.4
          env: SYMFONY_VERSION=4.4.*
        - php: 7.2
          env: SYMFONY_VERSION=5.0.*
        - php: 7.4
          env: SYMFONY_VERSION=5.0.*

env:
    global:
        - SYMFONY_DEPRECATIONS_HELPER=strict

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - if [ "$PHPCS" = "yes" ]; then pear install pear/PHP_CodeSniffer; fi
    - if [ "$PHPCS" = "yes" ]; then phpenv rehash; fi
    - if [ "$PHPCS" != "yes"]; then composer selfupdate; fi
    - if [ "$SYMFONY_VERSION" != "" ]; then composer require --dev --no-update symfony/symfony:${SYMFONY_VERSION}; fi

install: COMPOSER_MEMORY_LIMIT=-1 travis_retry composer install --prefer-dist --no-interaction

script:
    - if [ "$PHPCS" != "yes" ]; then vendor/bin/phpunit --coverage-text; fi
    - if [ "$PHPCS" = "yes" ]; then phpcs --ignore=/vendor/*,/Tests/app/* --extensions=php --encoding=utf-8 --standard=PSR2 -np .; fi

notifications:
    email:
        - yeugone@prestaconcept.net
