includes:
  - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - src/

  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # config definition is not well parsed
    - '#Symfony\\Component\\Config\\Definition#'

    # issues from vendor using array that has no iterable specification
    -
        message: "#^Method Presta\\\\SitemapBundle\\\\DependencyInjection\\\\PrestaSitemapExtension\\:\\:load\\(\\) has parameter \\$configs with no value type specified in iterable type array\\.$#"
        count: 1
        path: src/DependencyInjection/PrestaSitemapExtension.php
