parameters:
	ignoreErrors:
		-
			message: "#^Offset 1 does not exist on array\\{0\\?\\: string, 1\\?\\: non\\-empty\\-string, 2\\?\\: '\\.gz'\\}\\.$#"
			count: 1
			path: src/Service/Dumper.php

		-
			message: "#^Offset 'uri' on array\\{timed_out\\: bool, blocked\\: bool, eof\\: bool, unread_bytes\\: int, stream_type\\: string, wrapper_type\\: string, wrapper_data\\: mixed, mode\\: string, \\.\\.\\.\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: src/Sitemap/DumpingUrlset.php
