<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <server name="KERNEL_DIR" value="Tests/Integration/src"/>
        <server name="KERNEL_CLASS" value="Presta\SitemapBundle\Tests\Integration\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0&amp;max[indirect]=99"/>
        <env name="APP_SECRET" value="s$cretf0rt3st"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="false"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration/tests</directory>
        </testsuite>
        <testsuite name="Standards">
            <directory suffix="Test.php">./tests/Standards</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>
</phpunit>
