name: "Tests"

on:
  pull_request:
  push:
    branches:
      - "master"

jobs:
  phpunit:
    name: "PHPUnit"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - php-version: 7.1
            symfony-version: 4.4.*
          - php-version: 8.0
            symfony-version: 4.4.*
          - php-version: 7.2
            symfony-version: 5.3.*
          - php-version: 8.0
            symfony-version: 5.3.*

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: ${{ matrix.php-version }}

      - name: "Install dependencies with composer"
        run: |
          composer require --no-interaction --no-update \
            symfony/console:${{ matrix.symfony-version }} \
            symfony/framework-bundle:${{ matrix.symfony-version }} \
            symfony/http-kernel:${{ matrix.symfony-version }} \
            symfony/routing:${{ matrix.symfony-version }} \
            symfony/messenger:${{ matrix.symfony-version }}
          composer update --no-interaction --no-progress --no-suggest

      - name: "Run tests with phpunit/phpunit"
        run: vendor/bin/phpunit

  codecov:
    name: "Code coverage"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - php-version: 7.4
            symfony-version: 5.2.*

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          coverage: xdebug
          php-version: ${{ matrix.php-version }}

      - name: "Install dependencies with composer"
        run: |
          composer require --no-interaction --no-update \
            symfony/console:${{ matrix.symfony-version }} \
            symfony/framework-bundle:${{ matrix.symfony-version }} \
            symfony/http-kernel:${{ matrix.symfony-version }} \
            symfony/routing:${{ matrix.symfony-version }} \
            symfony/messenger:${{ matrix.symfony-version }}
          composer update --no-interaction --no-progress --no-suggest

      - name: "Run tests with phpunit/phpunit"
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          vendor/bin/phpunit --coverage-clover coverage.xml

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1

  phpstan:
    name: "PhpStan"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - php-version: 7.4
            symfony-version: 5.2.*

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: ${{ matrix.php-version }}

      - name: "Install dependencies with composer"
        run: |
          composer require --no-interaction --no-update \
            symfony/console:${{ matrix.symfony-version }} \
            symfony/framework-bundle:${{ matrix.symfony-version }} \
            symfony/http-kernel:${{ matrix.symfony-version }} \
            symfony/routing:${{ matrix.symfony-version }} \
            symfony/messenger:${{ matrix.symfony-version }}
          composer update --no-interaction --no-progress --no-suggest

      - name: "Run static analysis with phpstan/phpstan"
        run: vendor/bin/phpstan analyze

  checkstyke:
    name: "Checkstyle"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - php-version: 7.4
            symfony-version: 5.2.*

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Setup PHP"
        uses: shivammathur/setup-php@v2
        with:
          coverage: none
          php-version: ${{ matrix.php-version }}

      - name: "Install dependencies with composer"
        run: |
          composer require --no-interaction --no-update \
            symfony/console:${{ matrix.symfony-version }} \
            symfony/framework-bundle:${{ matrix.symfony-version }} \
            symfony/http-kernel:${{ matrix.symfony-version }} \
            symfony/routing:${{ matrix.symfony-version }} \
            symfony/messenger:${{ matrix.symfony-version }}
          composer update --no-interaction --no-progress --no-suggest

      - name: "Run checkstyle with squizlabs/php_codesniffer"
        run: vendor/bin/phpcs
